:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primary-white-color: #ffffff;
    --light-text-color: #F4F4FD;
    --secondary-accent-color: #404BBF;
    --border-color: #e7e9fc;
    --light-border-color: #8E8F99;
    --bgc-color: #31d0aa;
    --bgc-modal: #fcfcfc;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
} 

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.no-scroll {
    overflow: hidden;
}

/* header */

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
    background-color: var(--primary-white-color);
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--accent-color);

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo .accent {
    color: var(--title-text-color);
}

.logo.header {
    margin-right: 76px;

    color: var(--accent-color);
}

.site-nav .item-main .link {
    color: var(--secondary-accent-color);
}

/* index main */
/* hero section */

.hero {
    background-color: var(--title-text-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    color: var(--primary-white-color);

    letter-spacing: 0.02em;
}

.hero-button {
    display: block;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.portfolio-button {
    padding: 8px 16px;

    color: var(--accent-color);
    background-color: var(--light-text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list .item:not(:last-child) {
    margin-right: 24px;
}

.hero-button:hover,
.hero-button:focus,
.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--primary-white-color);
    background-color: var(--secondary-accent-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid;
    border-color: transparent;
}

/* features section */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.feature-list .item .title {
    margin-bottom: 8px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.feature-list .item .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* doing section */

.doing .section-title,
.team .section-title,
.client .section-title {
    margin-bottom: 72px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* team section */

.section.team {
    padding-top: 96px;
    padding-bottom: 96px;

    background-color: var(--light-text-color);
}

.team-list {
    text-align: center;
}

.team-list .item {
    width: 250px;
    border-radius: 0px 0px 4px 4px;

    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.worker-card {
    padding: 32px 0;
}

.worker-card .title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.worker-card .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item  > .social-links:hover,
.social-item  > .social-links:focus {
    background-color: var(--secondary-accent-color);
}

.social-links .social-icon {
    fill: var(--light-text-color);
}

/* client section */

.section.client {
    padding-top: 96px;
    padding-bottom: 96px;
}

.client-list {
    display: flex;
}

.client-list .item {
    flex-basis: calc((100% - 16px) / 2);
    height: 88px;
}

.client-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    border: 1px solid var(--light-border-color);
    border-radius: 4px;
    color: var(--light-border-color);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link > .feature-icon {
    width: 110px;
    height: 56px;
    fill: currentColor;
}

.client-list-link:hover,
.client-list-link:focus {
    border: 1px solid;
    border-color: var(--secondary-accent-color);
    color: var(--secondary-accent-color);
}

/* footer */

.footer {
    padding-top: 96px;
    padding-bottom: 96px;

    background-color: var(--title-text-color);
}

.footer-text-box .logo {
    display: inline-block;
    margin-bottom: 16px;

    color: var(--accent-color);
}

.footer-text-box .logo .accent {
    color: var(--light-text-color);
}

.footer-text-box .text {
    width: 264px;

    color: var(--light-text-color);

    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-social-text {
    margin-bottom: 16px;

    color: var(--primary-white-color);

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-social .social-list {
    display: flex;
    gap: 16px;
}

.footer-social-link.social-links:hover,
.footer-social-link.social-links:focus {
    background-color: var(--bgc-color);
}

.footer-social-link .social-icon {
    fill: var(--light-text-color);
}

.footer-form-mail {
    padding: 8px 16px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border: 1px solid var(--primary-white-color);
    border-radius: 4px;
    color: var(--primary-white-color);
    background-color: transparent;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-form-mail::placeholder {
    color: var(--primary-white-color);

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 24px;
    min-width: 165px;

    border: none;
    border-radius: 4px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.footer-button:hover,
.footer-button:focus {
    color: var(--primary-white-color);
    background-color: var(--secondary-accent-color);
}

.subscribe-icon {
    margin-left: 16px;
    fill: var(--primary-white-color);
}

.subscribe {
    margin-left: 80px;
}

/* portfolio main */

.section.gallery {
    padding-top: 48px;
    padding-bottom: 48px;
}

.buttons-list {
    display: flex;
}

.category > .title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.category .text {
    color: var(--primary-text-color);
}

.photo-list .item .link {
    display: block;

    color: var(--primary-white-color);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-list .item .link:hover,
.photo-list .item .link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.category {
    padding: 32px 16px;
    border: 1px solid var(--border-color);
    border-top: none;
}

.hidden-image {
    position: relative;
    overflow: hidden;
}

.hidden-image-text {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 40px 32px;
    height: 100%;
    width: 100%;

    color: var(--light-text-color);
    background-color: var(--accent-color);

    line-height: 1.5;
    letter-spacing: 0.02em;

    overflow: auto;
}

.photo-list .item .link:hover .hidden-image-text {
    transform: translateY(0%);
}

.photo-list .item .link:focus .hidden-image-text {
    transform: translateY(0%);
}

/* modal */

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    max-width: 392px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;

    border-radius: 4px;
    opacity: 1;
    background: var(--bgc-modal);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
}

.modal-button {
    position: absolute;
    display: flex;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;

    align-items: center;
    justify-content: center;

    border-radius: 50%;

    cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--secondary-accent-color);
    border: none;
    fill: var(--primary-white-color);
}

.modal-button-close {
    background-color: var(--border-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button .modal-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    text-align: center;

    margin-bottom: 16px;

    color: var(--title-text-color);

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.form-field {
    margin-bottom: 8px;
}

.form-field.comment {
    margin-bottom: 16px;
}

.form-field .modal-label {
    display: block;

    margin-bottom: 4px;

    color: var(--light-border-color);

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-field .modal-label:last-child {
    margin-bottom: 16px;
}

.modal-name {
    position: relative;
    display: block;
}

.modal-input {
    width: 100%;
    height: 40px;

    padding-left: 40px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
}

.modal-input:focus-within,
.modal-textarea:focus-within {
    outline: none;
    border-color: var(--accent-color);
}

.modal-input:focus-within + .modal-name-icon {
    fill: var(--accent-color);
}

.modal-name .modal-name-icon {
    position: absolute;

    left: 16px;
    top: 50%;

    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    width: 100%;
    height: 120px;

    padding: 8px 16px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    resize: none;
}

.form-field.checkbox {
    margin-bottom: 24px;
}

.comment .modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.40);
}

.modal-label-privacy {
    color: var(--light-border-color);

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-label-privacy .privacy-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    margin-right: 8px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    fill: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);

    cursor: pointer;
}

.modal-input-privacy:checked + .modal-label-privacy .privacy-link {
    fill: var(--light-text-color);
    background-color: var(--secondary-accent-color);
    border: none;
    border-color: var(--secondary-accent-color);
    outline: 1px solid var(--accent-color);
}

.modal-input-privacy:focus-within + .modal-label-privacy .privacy-link {
    outline: 1px solid var(--accent-color);
}

.modal-checkbox-link {
    color: var(--accent-color);
}